.wp-block-ljs-button,
.sf-field-submit input {
  @apply inline-block;
  @apply animated;
  @apply px-5 py-3;
  @apply my-2;
  @apply mr-4;
  @apply uppercase;
  border-radius: 10px;
  @apply font-bold;
  @apply border-0;
  @apply cursor-pointer;
}

.sf-field-submit input {
  @apply bg-green text-black;
}

.sf-input-text {
  @apply border-2 border-black rounded-xl;
  @apply py-2 px-3;
}

.searchandfilter ul {
  @apply flex gap-2 items-center;
}

.wp-block-ljs-button:last-child {
  @apply mb-0;
}

.wp-block-ljs-button:hover,
.sf-field-submit input:hover {
  transform: scale(1.1);
}

.wp-block-ljs-button:focus {
  transform: scale(0.9);
}
