.wp-block-ljs-button {
  @apply inline-block;
  @apply animated;
  @apply px-5 py-3;
  @apply my-4;
  @apply mr-4;
  @apply uppercase;
  border-radius: 10px;
  @apply font-bold;
  @apply border-0;
  @apply cursor-pointer;
}

.wp-block-ljs-button:last-child {
  @apply mb-0;
}

.wp-block-ljs-button:hover {
  transform: scale(1.1);
}

.wp-block-ljs-button:focus {
  transform: scale(0.9);
}
