.marker-green ul li::marker {
  @apply text-green;
}

.marker-purple ul li::marker {
  @apply text-purple;
}

.marker-red ul li::marker {
  @apply text-red;
}

.marker-black ul li::marker {
  @apply text-black;
}

.fill-green:hover svg path {
  fill: theme("colors.green");
}

.fill-purple:hover svg path {
  fill: theme("colors.purple");
}

.fill-red:hover svg path {
  fill: theme("colors.red");
}

.fill-black:hover svg path {
  fill: theme("colors.black.DEFAULT");
}
