.wp-block-ljs-cover {
  @apply max-h-screen h-screen;
  @apply relative;
  min-height: 400px;
}

.wp-block-ljs-cover__background {
  @apply object-cover w-full h-full absolute top-0 left-0 border-0;
  object-position: 50% 20%;
}

.wp-block-ljs-cover__overlay-wrapper {
  @apply absolute top-0 left-0 h-full w-full z-10;
  @apply flex flex-col items-center justify-center;
}

.wp-block-ljs-cover__logo {
  @apply mb-2;
  @apply hidden;
}

.wp-block-ljs-cover__rotation-inner-wrapper {
  transform: rotate(-5deg);
}

.wp-block-ljs-cover__title,
.wp-block-ljs-cover__title .block-editor-block-list__layout {
  @apply flex;
  @apply flex-col;
}

.wp-block-ljs-cover__title h2 {
  @apply z-20 relative;
  @apply px-4;
  @apply font-black uppercase italic leading-none text-center;
  @apply tracking-tight;
  @apply box-clone;
  @apply inline-block;
  line-height: 2.1;
  font-size: calc(100vw / 20);
  @apply max-w-min;
  @apply whitespace-nowrap !important;
}

.wp-block-ljs-cover__title {
  max-width: 80vw;
}

.wp-block-ljs-cover__title h2:first-child:nth-last-child(1) {
  @apply m-0 !important;
}

.wp-block-ljs-cover__title h2:first-child:nth-last-child(2) {
  @apply -ml-9;
}

.wp-block-ljs-cover__title h2:first-child:nth-last-child(2) ~ h2 {
  @apply -mr-9;
  @apply -mt-3;
}

@screen md {
  .wp-block-ljs-cover__logo {
    @apply block;
  }
}

@screen lg {
  .wp-block-ljs-cover__title h2 {
    @apply text-6xl;
  }
}

.wp-block-ljs-cover__title-bg--purple h2 {
  @apply bg-purple;
}

.wp-block-ljs-cover__title-bg--red h2 {
  @apply bg-red;
}

.wp-block-ljs-cover__title-bg--green h2 {
  @apply bg-green;
}

.wp-block-ljs-cover__title-bg--black h2 {
  @apply bg-black;
}

.wp-block-ljs-cover__title-bg--white h2 {
  @apply bg-white;
}

.wp-block-ljs-cover__title--purple h2 {
  @apply text-purple;
}

.wp-block-ljs-cover__title--red h2 {
  @apply text-red;
}

.wp-block-ljs-cover__title--green h2 {
  @apply text-green;
}

.wp-block-ljs-cover__title--black h2 {
  @apply text-black;
}

.wp-block-ljs-cover__title--white h2 {
  @apply text-white;
}

.wp-block-ljs-cover__title-shadow--purple h2 {
  @apply shadow-purple;
}

.wp-block-ljs-cover__title-shadow--green h2 {
  @apply shadow-green;
}

.wp-block-ljs-cover__title-shadow--red h2 {
  @apply shadow-red;
}

.wp-block-ljs-cover__title-shadow--white h2 {
  @apply shadow-white;
}

.wp-block-ljs-cover__title-shadow--black h2 {
  @apply shadow-black;
}
