.wp-block-ljs-accordion-item {
  @apply rounded-2xl;
}
.wp-block-ljs-accordion-container {
  @apply py-5;
  @apply max-w-full;
  @apply mx-auto;
}

.wp-block-ljs-accordion-item {
  @apply relative;
  @apply my-9;
}

.wp-block-ljs-accordion-item__button-wrapper {
  @apply absolute left-0 bottom-0 w-full;
  @apply flex justify-center;
  @apply z-10;
}

.wp-block-ljs-accordion-item__button {
  @apply animated;
  @apply p-2;
  @apply font-gilroy font-black text-lg uppercase;
  @apply rounded-full;
  transform: translateY(50%);
  @apply bg-white;
  @apply border-4;
  @apply border-transparent;

  &:hover {
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}

.wp-block-ljs-accordion-item__title-wrapper {
  @apply absolute left-0 top-0 w-full;
  @apply flex justify-center;
  @apply z-10;
}

.wp-block-ljs-accordion-item__title {
  @apply p-2;
  @apply font-gilroy font-black text-lg uppercase;
  @apply rounded-lg;
  transform: translateY(-50%);
}

.wp-block-ljs-accordion-item__body-wrapper {
  @apply p-7;
  @apply rounded-2xl;
  @apply relative;
}

.wp-block-ljs-accordion-item__body-less {
  @apply font-gilroy font-black italic text-3xl text-center;
}

.wp-block-ljs-accordion-item__body-more {
  @apply font-gilroy font-normal text-2xl text-center leading-wider;
}

.wp-block-ljs-accordion-item__body-more * {
  color: inherit;
}

.wp-block-ljs-accordion-item__body-more a {
  @apply underline;
}

.wp-block-ljs-accordion-item__body-more a:hover {
  @apply no-underline;
}

.wp-block-ljs-accordion-item summary {
  @apply list-none;
}

.wp-block-ljs-accordion-item summary::marker,
.wp-block-ljs-accordion-item summary::-webkit-details-marker {
  @apply hidden;
}

@screen md {
  .wp-block-ljs-accordion-container {
    max-width: 70%;
  }
}
