@layer utilities {
  .ratio--1-1 {
    padding-top: 100%;
  }

  .ratio--2-1 {
    padding-top: calc(1 / 2 * 100%);
  }

  .ratio--3-2 {
    padding-top: calc(2 / 3 * 100%);
  }

  .ratio--16-9 {
    padding-top: calc(9 / 16 * 100%);
  }
}
